.health-details-container {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .health-image img {
    width: 300px;
    height: auto;
  }
  
  .health-info {
    flex: 1;
  }
  
  .health-quantity {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .health-quantity button {
    width: 30px;
    height: 30px;
  }
  
  .health-quantity input {
    width: 40px;
    text-align: center;
    margin: 0 10px;
  }
  
  .health-add-to-cart {
    padding: 10px 15px;
    background-color: #fff;
    color:darkgreen;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
  }
  

  
  .health-details-tabs h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }


  .health-pricing {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-top: 10px;
}

.health-discount {
  color: red;
  font-weight: bold;
  font-size: 18px;
}

.health-price {
  color: green;
  font-weight: bold;
  font-size: 20px;
}

.health-mrp {
  color: #888;
  font-size: 16px;
  text-decoration: line-through;
}

  