
.about-us-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .content-container {
    max-width:1200px;
    display: flex;
    align-items: flex-start;
    gap: 30px;
  }
  
  .about-us-image {
width:500px;
    height:850px;
    margin-top:67px;
  }
  
  .about-us-text {
    max-width: 800px;

  }
  
  .about-us-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .about-us-text p {
    font-size: 18px;
    line-height: 1.6;
    font-weight:normal;
    margin-top: 60px;

  }
  